target/prwebSpring-1.0-SNAPSHOT.war
target/classes/META-INF/persistence.xml
target/classes/META-INF/spring.components
target/classes/org/centrale/prwebspring/controllers/BookController.class
target/classes/org/centrale/prwebspring/controllers/LoginController.class
target/classes/org/centrale/prwebspring/controllers/MyUser.class
target/classes/org/centrale/prwebspring/controllers/PersonController.class
target/classes/org/centrale/prwebspring/items/Book_.class
target/classes/org/centrale/prwebspring/items/Book.class
target/classes/org/centrale/prwebspring/items/Borrow_.class
target/classes/org/centrale/prwebspring/items/Borrow.class
target/classes/org/centrale/prwebspring/items/Person_.class
target/classes/org/centrale/prwebspring/items/Person.class
target/classes/org/centrale/prwebspring/repositories/BookRepository.class
target/classes/org/centrale/prwebspring/repositories/BookRepositoryCustom.class
target/classes/org/centrale/prwebspring/repositories/BookRepositoryCustomImpl.class
target/classes/org/centrale/prwebspring/repositories/BorrowRepository.class
target/classes/org/centrale/prwebspring/repositories/BorrowRepositoryCustom.class
target/classes/org/centrale/prwebspring/repositories/BorrowRepositoryCustomImpl.class
target/classes/org/centrale/prwebspring/repositories/PersonRepository.class
target/classes/org/centrale/prwebspring/repositories/PersonRepositoryCustom.class
target/classes/org/centrale/prwebspring/repositories/PersonRepositoryCustomImpl.class
target/endorsed/javaee-endorsed-api-7.0.jar
target/generated-sources/annotations/org/centrale/prwebspring/items/Book_.java
target/generated-sources/annotations/org/centrale/prwebspring/items/Borrow_.java
target/generated-sources/annotations/org/centrale/prwebspring/items/Person_.java
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/prwebSpring-1.0-SNAPSHOT/index.html
target/prwebSpring-1.0-SNAPSHOT/redirect.jsp
target/prwebSpring-1.0-SNAPSHOT/META-INF/context.xml
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/applicationContext.xml
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/dispatcher-servlet.xml
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/web.xml
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/META-INF/persistence.xml
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/META-INF/spring.components
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/controllers/BookController.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/controllers/LoginController.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/controllers/MyUser.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/controllers/PersonController.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/items/Book_.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/items/Book.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/items/Borrow_.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/items/Borrow.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/items/Person_.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/items/Person.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/repositories/BookRepository.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/repositories/BookRepositoryCustom.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/repositories/BookRepositoryCustomImpl.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/repositories/BorrowRepository.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/repositories/BorrowRepositoryCustom.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/repositories/BorrowRepositoryCustomImpl.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/repositories/PersonRepository.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/repositories/PersonRepositoryCustom.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/classes/org/centrale/prwebspring/repositories/PersonRepositoryCustomImpl.class
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/jsp/ajax.jsp
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/jsp/book.jsp
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/jsp/books.jsp
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/jsp/index.jsp
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/jsp/user.jsp
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/jsp/users.jsp
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/aspectjrt-1.9.5.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/aspectjweaver-1.9.6.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/checker-qual-3.5.0.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/jakarta.persistence-2.2.3.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/javax.persistence-2.2.1.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/javax.servlet.jsp.jstl-1.2.2.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/javax.servlet.jsp.jstl-api-1.2.1.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/json-20211205.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/jsp-api-2.1.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/jstl-1.2.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/jstl-api-1.2.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/org.eclipse.persistence.antlr-2.7.7.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/org.eclipse.persistence.asm-2.7.7.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/org.eclipse.persistence.core-2.7.7.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/org.eclipse.persistence.jpa-2.7.7.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/org.eclipse.persistence.jpa.jpql-2.7.7.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/org.eclipse.persistence.moxy-2.7.7.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/postgresql-42.2.23.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/reactive-streams-1.0.3.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/reactor-core-3.3.10.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/servlet-api-2.5.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/slf4j-api-1.7.26.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-aop-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-aspects-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-beans-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-context-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-context-indexer-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-context-support-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-core-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-data-commons-2.2.5.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-data-jpa-2.2.5.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-expression-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-instrument-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-jcl-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-jdbc-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-jms-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-messaging-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-orm-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-oxm-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-test-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-tx-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-web-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-webflux-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-webmvc-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/WEB-INF/lib/spring-websocket-5.2.9.RELEASE.jar
target/prwebSpring-1.0-SNAPSHOT/css/main.css
target/prwebSpring-1.0-SNAPSHOT/img/delete.png
target/prwebSpring-1.0-SNAPSHOT/img/edit.png
target/prwebSpring-1.0-SNAPSHOT/img/plus.png
target/prwebSpring-1.0-SNAPSHOT/img/return.png
target/prwebSpring-1.0-SNAPSHOT/img/save.png
target/prwebSpring-1.0-SNAPSHOT/js/jquery-3.3.1.min.js
target/prwebSpring-1.0-SNAPSHOT/js/main.js
